* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #dedede;
}

nav {
    width: 100%;
    height: 50px;
    background: #333;
}

ul {
    list-style: none;
}

#logo {
    float: left;
    height: 30px;
    width: 100px;
    margin: 8px 20px;
    background: url('../img/baidu-logo1.png') no-repeat;
    background-size: 100% 100%;
}

/*导航栏*/

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    font-size: 0.85em;
}

/*被选定的链接*/

nav ul .selected a {
    color: #78797c;
}

/*页脚*/

footer {
    width: 100%;
    height: 60px;
    background: #333;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

body {
    min-width: 800px;
}

.right {
    float: right;
    width: 360px;
}

.left {
    overflow: auto;
    zoom: 1;
    width: auto;
}

.left > div, .right > div {
    padding: 25px;
    background: #fff;
    box-shadow: 2px 2px 10px;
}

.left > div {
    margin: 30px;
}

.right > div {
    margin: 30px 30px 30px 0;
}

.left div h1 {
    font-weight: bold;
    font-size: 25px;
}

.left div h2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.left div .writer {
    display: inline-block;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left div p {
    text-indent: 2em;
}

.left div .picture {
    width: 50%;
    margin: 10px 0px;
}

.img-container {
    display: inline-block;
    width: 200px;
    height: auto;
    border: 1px solid #000;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.img-container img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.four ol {
    margin-left: 40px;
}

/*表格*/

.four table {
    margin: 20px 0;
    width: 100%;
    line-height: 30px;
}

.four table th {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    height: 30px;
    text-align: left;
    background: #000;
    color: #fff;
    padding-left: 10px;
}

.four table td {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    height: 30px;
    padding-left: 10px;
}

.four table td.last {
    background: #ccc;
}

/*表单*/

.five table {
    margin-top: 20px;
    font-size: 0.8em;
}

.five table td {
    margin: 3px;
    height: 30px;
}

.five form table .text {
    text-align: right;
    font-weight: 600;
}

.five form table .hint {
    font-weight: 200;
}

button {
    display: block;
    width: 100%;
    height: 40px;
    background: #3355d0;
    border-radius: 10px;
    color: #fff;
}